# Dependencies
node_modules/

# Environment variables
.env

# Build folders
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# Temporary files
tmp/
temp/

# Uploaded files (optional)
uploads/

# Cache
.cache/

# Vercel
.vercel/


# React/Vite
vite.svg